.header {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dee2e6;
  text-align: center;
  padding: 10px 0px;
  box-shadow: 5px 3px 10px rgb(84, 84, 83);

  .header-container a {
    text-decoration: none;
    font-size: 20px;
  }

  ul {
    list-style: none;
    display: flex;
    padding: 0;
  }

  li {
    margin: 0 1rem;
    font-size: 2rem;
  }

  a {
    text-decoration: none;
    color: black;
  }

  a:hover,
  a:active,
  a.active {
    color: black;
    font-weight: 700;
  }
  a:active,
  a.active {
    color: black;
    font-weight: 700;
    border-bottom: 3px solid grey;
  }
}
